li {
    color: orangered;
}

p {
    font-size: x-large;
}

h1 {
    color: brown;
}

tr {
    font-style: italic;
}

body {
    background-color: green;
}

p {
    line-break: normal;
    color-scheme: yellow;
    font-style: inherit;
}